
body {
    font-family: Arial;
}

.cake-container {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 25px;
    margin: 2rem;
}

.pix {
    display: none;
    height: 50%;
    width: 50%;
}

.pix.active {
    display: block;
}

.from {
    display: none;
}

.from.active {
    display: block;
}
