
body {
    font-family: Arial;
    background-color: #a8e5ab;
}

.cake-container {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 25px;
    margin: 2rem;
    background-color: #C9F7D9;
}

.pix {
    display: none;
    height: 50%;
    width: 50%;
}

.pix.active {
    display: block;
}

.from {
    display: none;
}

.from.active {
    display: block;
}

h1 {
    font-family: 'Tropikal';
    margin: 2rem;
    font-size: 4rem;
    color: #427468;
}

h2 {
    font-family: 'Tropikal';
    color: #5c8072;
}

p {
    font-family: 'Tropikal';
    color: #427468;
}

p2 {
    font-family: 'Colgent';
    color: #427468;
    margin: 2rem;
    font-size: 2rem;
}